.navbar-brand{
    font-family: 'Inter';
    font-weight: 500;
}

.gerak {
text-align: right;
}

p#garis {
    color: black;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
 
}

.logo{

}

.nav-link{
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link.active {
    color: #DA4933; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #DA4933; 
}


.dropdown:hover .dropdown-menu {
    display: block;
  }
  

.dropdown-item{
    font-family: 'Inter';
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #DA4933;
}

.carousel-inner {
    padding : 0 17px;
}

.carousel-control-prev,
    .carousel-control-next {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.carousel-control-prev:hover,
    .carousel-control-next:hover {
    transform: scale(1.2);
}

.card {
    margin-top: 10px;
    border: black;
}


.card-link {
    color: #000; 
    text-decoration: none; 
}

.card-link:hover {
    color: #000; 
    text-decoration: none; 
  }
  
.card-title {

    line-height: 97%;
    margin-top: 12px;
    font-family: 'Playfair';
    font-weight: 900;
}

.card-text {
    font-family: 'Inter';
    line-height: 127.3%;
    font-size: 11px;
    opacity: 75%;
}

.card-text .text-muted {
  font-family: 'Inter';
}

.btn-primary {
    margin-left: 4px;
    margin-top: -3px;
    background-color: white;
    color: black;
    font-family: 'Inter';
    border-radius: 10px;
    border-color: black;
}

.btn-primary:hover {
    background-color: #da4933;
    color: white;
    font-family: 'Inter';
    
    border: none;
  }
  
.d-flex.flex-column.justify-content-start {
    font-family: 'Inter';
    text-decoration: none;
  }

  .team-item {
    transition: .5s;
  }
  
  .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
  }
  
  .team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
  }
  
  .team-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  
  .team-item:hover .team-social {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
  }
  
  .team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
  }
  
  .team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
  }
  
  .team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
  }
  
  .team-item .team-img img {
    transition: .5s;
  }
  
  .team-item:hover .team-img img {
    transform: scale(1.2);
  }
  
  .text-truncate {
    font-family: 'Inter';
    font-weight: 900;
  }

  .m-0 {
    font-family: 'Inter';
    font-size: 12px;
    text-align: justify;
    padding: 2px;
    opacity: 75%;
  }

  .team-item {
    border-radius: 10px; /* Adjust the value as desired */
  }
  